<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" style="color: white;" routerLink="/home">Library</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" style="color: white;" routerLink="/book/book-list">Book</a>
          <a class="nav-link" style="color: white;" routerLink="/student/student-list">Student</a>
          <a class="nav-link" style="color: white;" routerLink="/librarian/librarian-list">Librarian</a>
          <a class="nav-link" style="color: white;" routerLink="/book-reservation/book-reservation-list">Book-Reservation</a>
        </div>
      </div>
    </div>
  </nav>
<router-outlet></router-outlet>
